.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }
  .hamburger:active{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }
  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
    cursor: pointer;
    justify-content: flex-end;
    
  }
.cancel{
  background-color:  #22222100;
  cursor: pointer;
  border-radius: 45px;
  border: #22222100;
  
}


.image{
  height: 40px;
  width: 40px;
}