html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
}

body {
    font-family: 'Merriweather Sans'
}

@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Merriweather+Sans:wght@300;400&family=Roboto:wght@400;500&display=swap');


/* Header Styles */

.logo {
    font-family: 'Bellefair';
    color: #F5F3F1;
}

Header {
    background-color: #222221;
}

h1{
    margin: 0;
    padding: 30px;
}




/* Thrift Shop Finder Styles */

/* Search bar */
.wrap {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search {
    margin-top: 20px;
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #222221;
    border-right: none;
    padding: 10px 5px;
    height: 36px;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: #AAA;
    
}

.searchTerm:focus {
    color: #222221;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #222221;
    background: #222221;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.searchButton>svg:nth-child(1) {
    align-self: center;
}




form {
    text-align: center;
}

h2 {
    font-family: 'Merriweather Sans';
    font-size: .85rem;
}

.yelpWrap {
    height: 100vh;
}



.shopContainer {
    background-color: #FEFDFC;
    margin: 0 auto;
    text-align: left;
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

ul {
    background-color: #FEFDFC;
}

.shopList {
    border-top: solid 1px #AAA;
    padding-bottom: 10px;
}

.shopInfo {
    display: flex;
    flex-direction: column;
    width: 350px;
}


.getDirectionsButton {
    border: solid 1.5px #D3A25E;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2%;
    margin-top: 35px;
    font-family: 'Merriweather Sans';
    font-size: .8rem;
}

.getDirectionsButton:hover {
    background-color: #5e5e5e;
    border: solid 1.5px #D3A25E;
    color: #F5F3F1;
    transition: .3s ease-in;
}

.getDirections {
    text-decoration: none;
}

a {
    color: #000;
    width: 225px;
}

p{
    line-height: 25px;
    font-family: 'Roboto';
    font-size: .7rem;
    text-align: left;
}

.shopAddress {
    text-decoration: none;
}

.shopType {
    font-size: .7rem;
}


.shopList {
    list-style: none;
}

.shopImage {
    width: 155px;
    height: 245px;
}

img {
    width: 155px;
    height:245px;
    object-fit: cover;
    border-radius: 7px;
}


/* Guides Styles */

.guideBackground {
    background-image: url(./assets/hannah-morgan-ycVFts5Ma4s-unsplash.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.guideStyle {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding: 40px;
    background-color: #fefdfcc1;
    border-radius: 5px;
}

h4, h5 {
    line-height: 60px;
}

.guideParagraph {
    text-align: center;
}

/* Footer */

.footer {
    background-color: #222221;
}

.footerPara {
    text-align: center;
    font-family: 'Roboto';
    color: #F5F3F1;
}

/* Contact Page Styles */

h6 {
    padding: 2%;
    width: 100%;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
}

.contactInput {
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #222221;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus {
    border: 2px solid #000;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 40px;
    background-color: #fefdfcc1;
    border-radius: 5px;
}

.contactSubmitButton {
    border: solid 1.5px #D3A25E;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0 auto;
    width:50%;
    padding:.5em;
    font-family: 'Merriweather Sans';
    font-size: .8rem;

}




/* Media Queries */

@media (min-width: 840px) {

.shopContainer {
    justify-content: center;
}

.guideStyle {
    width: 60%;
}

.wrap {
    width: 30%
}

h6 {
    width: 72%;
}

.contactWrapper {
    width:60%;
}

.contactSubmitButton {
    width: 50%;
}

.contactInput {
    width: 70%;
}

}





